<!DOCTYPE html>
<html ng-app='myApp'>
  <head>
    <title>Angular First Project</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script type="text/javascript">
      var myAppModule = angular.module('myApp', []);
      // the .controller() method add a controller to the module
      myAppModule.controller('studentController', function () { //there is no SCOPE passed as param
        this.students_Array = [
          {name: 'Mike', age: 34},
          {name: 'John', age: 24},
          {name: 'Trey', age: 24},
          {name: 'India', age: 35}
        ];
        this.addStudent = function(){
          //add to the array
          this.students_Array.push(this.newStudent);
          // clear the form values
          this.newStudent = {};
        }
      });
    </script>
  </head>
  <body>
    <h1>INDEX PAGE</h1>
        <!-- Need to add var below 'as studentCtrl' and below in the LOOP statements-->
    <div ng-controller='studentController as studentCtrl'>
      <ul>
        <li ng-repeat="student in studentCtrl.students_Array">{{student.name}}, {{student.age}}</li>
      </ul>
      <h3>Add a New Student</h3>
      <form>
        Name: <input type="text" ng-model='studentCtrl.newStudent.name'>
        Age: <input type="text" ng-model='studentCtrl.newStudent.age'>
        <input type="submit" value="add new student" ng-click="studentCtrl.addStudent()">
      </form>
    </div>


  </body>
</html>
